.button {
	cursor: pointer;
	display: inline-block;
	white-space: nowrap;
	background-color: #EEC955;
	border: 1px solid #777;
	padding: 0 1.5em;
	margin: 0.5em;
	font-weight: bold;
	font-family: 'Quattrocento Sans', sans-serif;
	line-height: 2em;
	text-decoration: none;
	-moz-border-radius: .3em;
	-webkit-border-radius: .3em;
	border-radius: .3em;
	-moz-box-shadow: 0 0 1px 1px rgba(255,255,255,.8) inset, 0 1px 0 rgba(0,0,0,.3);
	-webkit-box-shadow: 0 0 1px 1px rgba(255,255,255,.8) inset, 0 1px 0 rgba(0,0,0,.3);
	box-shadow: 0 0 1px 1px rgba(255,255,255,.8) inset, 0 1px 0 rgba(0,0,0,.3);
	position: absolute;
	min-width: 140px;
	max-width: 140px;
	min-height: 50px;
	white-space: normal;
    word-wrap: normal;
	line-height: 13px;
}
.start_button {
	cursor: pointer;
	display: inline-block;
	white-space: nowrap;
	background-color: #EEC955;
	border: 1px solid #777;
	padding: 0 1.5em;
	margin: 0.5em;
	font-weight: bold;
	font-family: 'Quattrocento Sans', sans-serif;
	line-height: 2em;
	text-decoration: none;
	-moz-border-radius: .3em;
	-webkit-border-radius: .3em;
	border-radius: 3em;
	-moz-box-shadow: 0 0 1px 1px rgba(255,255,255,.8) inset, 0 1px 0 rgba(0,0,0,.3);
	-webkit-box-shadow: 0 0 1px 1px rgba(255,255,255,.8) inset, 0 1px 0 rgba(0,0,0,.3);
	box-shadow: 0 0 1px 1px rgba(255,255,255,.8) inset, 0 1px 0 rgba(0,0,0,.3);
	position: absolute;
	min-width: 70px;
	min-height: 70px;
	z-index: 9999;
	left: 350px;
}

.button .start_button :hover {
	border: 2px solid #999;
}

.button .start_button :active {
	-moz-box-shadow: 0 0 4px 2px rgba(0,0,0,.3) inset;
	-webkit-box-shadow: 0 0 4px 2px rgba(0,0,0,.3) inset;
	box-shadow: 0 0 4px 2px rgba(0,0,0,.3) inset;
}

.button .start_button :focus {
	outline: 0;
	background: #fafafa;
}

.position_1 {
	left: 760px;
	top: 470px
}

.position_2 {
	left: 760px;
	top: 395px
}

.position_3 {
	left: 760px;
	top: 320px
}

.position_4 {
	left: 520px;
	top: 470px;
}

.position_5 {
	left:570px;
	top: 430px;	
	min-width:110px;
	min-height: 25px;
}

.position_6 {
	left:450px;
	top: 430px;
	min-width:110px;
	min-height: 25px;
}

