.commentary_feedback {
	background-color: #464646;
	float: left;
	border-radius: 1em 1em 1em 1em;
	text-align: left;
	padding: 8px 8px 8px 8px;
	-moz-border-radius: 0.5em 0.5em 0.5em 0.5em;
	background: rgba(0, 0, 0, 0.6);
}