.no-select {
	cursor: default;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.blur {
	filter: url(filter.svg#blur);
	-webkit-filter: blur(15px);
	-ms-filter: "progid:DXImageTransform.Microsoft.Blur(PixelRadius='15', MakeShadow='false')";
}

#drivesmart {
	font-family: 'Quattrocento Sans', sans-serif;
	line-height: 1.6em;
	font-weight: normal;
	left: 1px;
	top: 0;
	position: relative;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	background-origin: content-box;
	background-attachment: scroll;
	height: 560px;
	width: 940px;
}
.videoContainer {
	
}

h1 {
	font-family: 'Museo700Regular';
	font-weight: normal;
	margin: 0 0 0.2em;
}

h2 {
	font-family: 'Museo700Regular';
	color: #D7B000;
	font-weight: normal;
	margin: 0;	
}

.panel {
	box-shadow: 0 0 10px #404040;
}

.panel.loader {
	background: url('images/loader_bkg.png');
}
.panel.dashboard {
	background: url('images/dashboard_bkg.png');
}
.panel.kaps {
	background: url('images/kaps_bkg.png');
}
.panel.scanning {
	background: url('images/scanning_bkg.png');
}
.panel.concentration {
	background: url('images/concentration_bkg.png');
}
.panel.country {
	background: url('images/country_bkg.png');
}
.panel.urban {
	background: url('images/urban_bkg.png');
}




.pane {
	margin: 20px 0;
	-webkit-box-shadow: #404040 0px 0px 10px;
	-moz-box-shadow: #404040 0px 0px 10px;
	box-shadow: 0px 0px 10px #404040;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
	border-radius: 5px;
	color: #000
}

.pane.menu {
	margin: 10px 0;
}

.pane.orange {
	background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f28411), color-stop(100%, #bf5b00));
	background-image: -webkit-linear-gradient(top, #f28411, #bf5b00);
	background-image: -moz-linear-gradient(top, #f28411, #bf5b00);
	background-image: -o-linear-gradient(top, #f28411, #bf5b00);
	background-image: linear-gradient(top, #f28411,#bf5b00);
	background-image: -ms-linear-gradient(top, #f28411 0%, #bf5b00 100%);
	background-image: linear-gradient(to bottom, #f28411 0%, #bf5b00 100%);
}
.pane.green {
	background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ced649), color-stop(100%, #aaba0a));
	background-image: -webkit-linear-gradient(top, #ced649, #aaba0a);
	background-image: -moz-linear-gradient(top, #ced649, #aaba0a);
	background-image: -o-linear-gradient(top, #ced649, #aaba0a);
	background-image: linear-gradient(top, #ced649,#aaba0a);
	background-image: -ms-linear-gradient(top, #ced649 0%, #aaba0a 100%);
	background-image: linear-gradient(to bottom, #ced649 0%, #aaba0a 100%);
}
.pane.yellow {
	background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #e4d100), color-stop(100%, #d7b000));
	background-image: -webkit-linear-gradient(top, #e4d100, #d7b000);
	background-image: -moz-linear-gradient(top, #e4d100, #d7b000);
	background-image: -o-linear-gradient(top, #e4d100, #d7b000);
	background-image: linear-gradient(top, #e4d100,#d7b000);
	background-image: -ms-linear-gradient(top, #e4d100 0%, #d7b000 100%);
	background-image: linear-gradient(to bottom, #e4d100 0%, #d7b000 100%);
}
.pane.blue {
	background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #99d6dd), color-stop(100%, #00b5d6));
	background-image: -webkit-linear-gradient(top, #99d6dd, #00b5d6);
	background-image: -moz-linear-gradient(top, #99d6dd, #00b5d6);
	background-image: -o-linear-gradient(top, #99d6dd, #00b5d6);
	background-image: linear-gradient(top, #99d6dd,#00b5d6);
	background-image: -ms-linear-gradient(top, #99d6dd 0%, #00b5d6 100%);
	background-image: linear-gradient(to bottom, #99d6dd 0%, #00b5d6 100%);
}
.pane.gray {
	background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #666), color-stop(100%, #404040));
	background-image: -webkit-linear-gradient(top, #666, #404040);
	background-image: -moz-linear-gradient(top, #666, #404040);
	background-image: -o-linear-gradient(top, #666, #404040);
	background-image: linear-gradient(top, #666666,#404040);
	color: #fff;
	background-image: -ms-linear-gradient(top, #666666 0%, #404040 100%);
	background-image: linear-gradient(to bottom, #666666 0%, #404040 100%);
}
.pane.gray a {
	color: #d7b000
}


