.no-select {
	cursor: default;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
#drivesmart {
	font-family: 'Candara', Candara;
	line-height: 1.6em;
	font-weight: normal;
	left: 0;
	top: 0;
	position: relative;
}

h1 {
	font-family: 'Museo700Regular';
	font-weight: normal;
	margin: 0 0 0.2em;
}

h2 {
	font-family: 'Museo700Regular';
	color: #EAC749;
	font-weight: normal;
	margin: 0;
}

.panel {
	background-repeat: no-repeat;
	background-size: 100% 100%;
	background-origin: content-box;
	background-attachment: scroll;
}

.panel_loader {
	background: url('images/loader_bkg.png');
}
.panel_dashboard {
	background: url('images/dashboard_bkg.png');
}
.panel_kaps {
	background: url('images/kaps_bkg.png');
}
.panel_scanning {
	background: url('images/scanning_bkg.png');
}
.panel_concentration {
	background: url('images/concentration_bkg.png');
}
.panel_country {
	background: url('images/country_bkg.png');
}
.panel_urban {
	background: url('images/urban_bkg.png');
}

