.dragging {
	transform-origin: 50% 50%;
	-ms-transform-origin: 50% 50%; /* IE 9 */
	-webkit-transform-origin: 50% 50%; /* Safari and Chrome */
	-moz-transform-origin: 50% 50%; /* Firefox */
	-o-transform-origin: 50% 50%; /* Opera */
	z-index: 99998;
	-webkit-transform-origin-z: 99998;
	cursor: pointer;
}

.draggable {
	transform-origin: 50% 50%;
	-ms-transform-origin: 50% 50%; /* IE 9 */
	-webkit-transform-origin: 50% 50%; /* Safari and Chrome */
	-moz-transform-origin: 50% 50%; /* Firefox */
	-o-transform-origin: 50% 50%; /* Opera */
	cursor: pointer;
}

.non-draggable {
	cursor: default;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
