html, body {
	height: 100%;
	min-height: 780px;
	width: 100%;
	margin: 0px;
	padding: 0px;
	font-size: 14px;
	font-weight: normal;
	background: url("/TAC_DriveSmart/css/images/bkg_1.jpg") no-repeat fixed center center / 100% auto transparent;
	color: rgb(255, 255, 255);
}

h2, h3, h4, h5 {
	font-weight: normal;
	margin: 0px;
	color: rgb(234, 199, 73);
}
h1 {
	font-weight: normal;
	margin: 0px 0px 0.2em;
	color: rgb(234, 199, 73);
	font-size: 1.8em;
}
p {
	margin: 0.2em 0px 0.7em;
}
a {
	color: rgb(234, 199, 73);
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
#allcontents {
	padding-top: 20px;
	margin-left: auto;
	margin-right: auto;
	width: 706px;
}
#vertical {
}
#content {

}
#header {
	height: 85px;
	background: url('../img/header.png') no-repeat scroll 20px 0px transparent;
}
.menu-link {
	display: block;
	float: left;
	margin: 0px 10px 0px 0px;
	padding: 8px 0px 0px;
	height: 23px;
	width: 120px;
	text-align: center;
	background: url('../img/tab.png') no-repeat scroll center top transparent;
	overflow: hidden;
	color: rgb(255, 255, 255);
	font-size: 12px;
}
.menu-link.last {
	float: right;
	margin-right: 0px;
}
.menu-link:hover {
	color: rgb(255, 255, 255);
	text-decoration: underline;
}
.menu-link.current {
	color: rgb(234, 199, 73);
}
#menu-bar {
	height: 46px;
	position: relative;
	background: url('../img/undertab-none.png') no-repeat scroll center bottom transparent;
}
.homepage #menu-bar {
	background: url('../img/undertab-home.png') no-repeat scroll center bottom transparent;
}
.footer-link {
	display: inline;
	margin: 0px 22px;
	color: rgb(255, 255, 255);
	font-size: 11px;
}
.footer-link:hover {
	color: rgb(238, 238, 238);
	text-decoration: underline;
}
.footer {
	color: rgb(170, 170, 170);
	font-size: 9px;
	bottom: 0px;
	height: 20px;
	padding: 20px;
	text-align: left;
	position: relative;
}
.logo-link {
	width: 41px;
	height: 25px;
	position: absolute;
	margin-top: -5px;
	font-size: 0px;
}
.tac-logo {
	background: url('../img/tac-logo.png') repeat scroll 0% 0% transparent;
	right: 40px;
	margin-top: -7px;
}
.spokes-logo {
	background: url('../spokes-logo.png') repeat scroll 0% 0% transparent;
	right: 93px;
	width: 80px;
}
#home_link {
	width: 180px;
	height: 70px;
	left: 20px;
	display: block;
	position: relative;
	font-size: 0px;
}

