.module-description {
	float: left;
	font-size: 0.9em;
	left: 400px;
	line-height: 125%;
	min-height: 70px;
	padding: 8px;
	position: absolute;
	text-align: left;
	top: 335px;
	width: 500px;
}
.module-preview {
	left: 495px;
	position: absolute;
	top: 110px;
	width: 310px;
}

.overall_score {
	left: 410px;
	position: absolute;
	top: 460px;
}

.overall_progress {
	left: 410px;
	position: absolute;
	top: 500px;
}

.menu_item {	
	font-family: Museo700;
	font-size: 1em;
	text-align: left;
	padding-top: 14px;
	padding-bottom: 0;
	padding-right: 15px;
	padding-left: 15px;
	opacity: 1;
	cursor: pointer;
}

.menu_item:hover {
	
}
.menu_item.locked {

}

.menu_item_locked:hover {
	
}
.progress_title {
	position: relative;
	color: #FFFFFF;
	font-weight: normal;
	text-align: left;
}

.rotate90 {
	-msTransform: rotate(90deg); /* IE 9 */
	-ms-transform: rotate(90deg);
	-webkit-transform: rotate(90deg); /* Safari and Chrome */
	-moz-transform: rotate(90deg); /* Firefox */
	-o-transform: rotate(90deg); /* Opera */
	transform: rotate(90deg);
}

.horizontal_dotted_line {
	border-bottom: 4px dashed #FFFFFF;
	position: absolute;
}
.vertical_dotted_line {
	border-left: 4px dashed #FFFFFF;
	position: absolute;
}
