.module-description {
	color: #D7B000;
	font-size: 0.80em;
	text-align: left;
	line-height: 125%;
	background-color: #464646;
	float: left;
	border-radius: 1em 1em 1em 1em;
	-moz-border-radius: 0.5em 0.5em 0.5em 0.5em;
	-webkit-border-radius: 0.5em 0.5em 0.5em 0.5em;
	padding: 8px 8px 8px 8px;
	background: rgba(0, 0, 0, 0.6);
	position: absolute;
	left: 400px;
	top: 350px;
	width: 390px;
	min-height: 70px;
}
.module-preview {
	left: 440px;
	position: absolute;
	top: 110px;
	width: 310px;
}
.main-title {
	position: absolute;
	font-size: 2.5em;
	text-align: center;
}
.module-title {
	position: absolute;
	font-size: 3em;
}
.sequence-title {
	position: absolute;
	font-size: 1em;
	left: 0;
	top: 350px;
}

.overall_score {
	left: 400px;
	position: absolute;
	top: 450px;
}

.overall_progress {
	left: 400px;
	position: absolute;
	top: 490px;
}

.module_progress_intro {
	left: 0;
	position: absolute;
	top: 400px;
}

.load_progress {
	left: 300px;
	position: absolute;
	top: 250px;
}

.menu_item {
	font-size: 1em;
	font-family: Museo700;
	font-size: 1em;
	text-align: left;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-right: 15px;
	padding-left: 15px;
	opacity: 1;
}

.menu_item:hover {
	color: #FFFF99;
}
.menu_item.locked {

}

.menu_item_locked:hover {

}
.progress_title {
	position: relative;
	color: #FFFFFF;
	font-weight: normal;
	text-align: left;
}

.pane {
	margin: 20px 0;
	-webkit-box-shadow: #404040 0px 0px 10px;
	-moz-box-shadow: #404040 0px 0px 10px;
	box-shadow: 0px 0px 10px #404040;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
	border-radius: 5px;
	color: #000
}

.pane.menu {
	margin: 10px 0;
}

.pane.orange {
	background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f28411), color-stop(100%, #bf5b00));
	background-image: -webkit-linear-gradient(top, #f28411, #bf5b00);
	background-image: -moz-linear-gradient(top, #f28411, #bf5b00);
	background-image: -o-linear-gradient(top, #f28411, #bf5b00);
	background-image: linear-gradient(top, #f28411,#bf5b00);
	background-image: -ms-linear-gradient(top, #f28411 0%, #bf5b00 100%);
	background-image: linear-gradient(to bottom, #f28411 0%, #bf5b00 100%);
}
.pane.green {
	background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ced649), color-stop(100%, #aaba0a));
	background-image: -webkit-linear-gradient(top, #ced649, #aaba0a);
	background-image: -moz-linear-gradient(top, #ced649, #aaba0a);
	background-image: -o-linear-gradient(top, #ced649, #aaba0a);
	background-image: linear-gradient(top, #ced649,#aaba0a);
	background-image: -ms-linear-gradient(top, #ced649 0%, #aaba0a 100%);
	background-image: linear-gradient(to bottom, #ced649 0%, #aaba0a 100%);
}
.pane.yellow {
	background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #e4d100), color-stop(100%, #d7b000));
	background-image: -webkit-linear-gradient(top, #e4d100, #d7b000);
	background-image: -moz-linear-gradient(top, #e4d100, #d7b000);
	background-image: -o-linear-gradient(top, #e4d100, #d7b000);
	background-image: linear-gradient(top, #e4d100,#d7b000);
	background-image: -ms-linear-gradient(top, #e4d100 0%, #d7b000 100%);
	background-image: linear-gradient(to bottom, #e4d100 0%, #d7b000 100%);
}
.pane.blue {
	background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #99d6dd), color-stop(100%, #00b5d6));
	background-image: -webkit-linear-gradient(top, #99d6dd, #00b5d6);
	background-image: -moz-linear-gradient(top, #99d6dd, #00b5d6);
	background-image: -o-linear-gradient(top, #99d6dd, #00b5d6);
	background-image: linear-gradient(top, #99d6dd,#00b5d6);
	background-image: -ms-linear-gradient(top, #99d6dd 0%, #00b5d6 100%);
	background-image: linear-gradient(to bottom, #99d6dd 0%, #00b5d6 100%);
}
.pane.gray {
	background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #666), color-stop(100%, #404040));
	background-image: -webkit-linear-gradient(top, #666, #404040);
	background-image: -moz-linear-gradient(top, #666, #404040);
	background-image: -o-linear-gradient(top, #666, #404040);
	background-image: linear-gradient(top, #666666,#404040);
	color: #fff;
	background-image: -ms-linear-gradient(top, #666666 0%, #404040 100%);
	background-image: linear-gradient(to bottom, #666666 0%, #404040 100%);
}
.pane.gray a {
	color: #d7b000
}

