.module-description {
	color: #ffffff;
	font-size: 0.80em;
	text-align: left;
	line-height: 125%;
	background-color: #464646;
	float: left;
	padding: 8px 8px 8px 8px;
	background: rgba(0, 0, 0, 0.6);
	position: absolute;
	left: 400px;
	top: 350px;
	width: 390px;
	min-height: 70px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
	border-radius: 5px;
}
.module-preview {
	left: 440px;
	position: absolute;
	top: 110px;
	width: 310px;
}
.main-title {
	position: absolute;
	font-size: 2.5em;
	text-align: center;
}
.module-title {
   font-size: 3em;
    left: 670px;
    line-height: 50px;
    position: absolute;
    top: 120px;
    width: 300px;
}

.overall_score {
	left: 410px;
	position: absolute;
	top: 460px;
}

.overall_progress {
	left: 410px;
	position: absolute;
	top: 500px;
}

.menu_item {
	font-family: Museo700;
	font-size: 1em;
	text-align: left;
	padding-top: 14px;
	padding-bottom: 0;
	padding-right: 15px;
	padding-left: 15px;
	opacity: 1;
}

.menu_item:hover {
	color: #FFFF99;
}
.menu_item.locked {

}

.menu_item_locked:hover {

}
.progress_title {
	position: relative;
	color: #FFFFFF;
	font-weight: normal;
	text-align: left;
}

.rotate90 {
	-msTransform: rotate(90deg); /* IE 9 */
	-ms-transform: rotate(90deg); 
	-webkit-transform: rotate(90deg); /* Safari and Chrome */
	-moz-transform: rotate(90deg); /* Firefox */
	-o-transform: rotate(90deg); /* Opera */
	transform: rotate(90deg);
}

