publish
intermediate
_gsdata_
build.test
media/sound/kaps/kaps_opdrive2.ogg
js.7z
media/sound/kaps
/*.dat
/*.7z
media/video/scanning/Thumbs.db
media/images/scanning/Thumbs.db
media/images/keyrisks/Thumbs.db
/*.bat
/*.db
flash_src
