

$title_font: 'Museo700Regular';
$body-font: 'Quattrocento Sans', sans-serif;
$experimental-support-for-svg: true;



$orange-start: #f28411;
$orange-end:  #bf5b00;
$green-start: #ced649;
$green-end:  #aaba0a;
$yellow-start: #e4d100;
$yellow-end:  #d7b000;
$blue-start: #99d6dd;
$blue-end:  #00b5d6;
$grey-start: #666666;
$grey-end:  #404040;